body {
  background-color: #f7ecde;
  font-family: "PT Sans Caption", sans-serif;
}
body::selection {
    background-color: #fec260;
    color: #352e28;
}

.main-title {
  font-family: "Pacifico", cursive;
  font-size: 50px;
  font-weight: 500;
  color: rgb(53, 46, 40);
  line-height: 60px;
  font-style: italic;
  border-bottom: 1px dashed black;
}

.inputs-secton {
  font-family: "Righteous", cursive;;
  font-size: 25px;
  background-image: linear-gradient(to right, #3ca55c, #b5ac49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.border-bottom{
      border-bottom: 1px dashed black !important;

}